[submodule "pack/plugins/start/auto-pairs"]
	path = pack/plugins/start/auto-pairs
	url = https://github.com/jiangmiao/auto-pairs.git
	branch = master
[submodule "pack/plugins/start/SimpylFold"]
	path = pack/plugins/start/SimpylFold
	url = https://github.com/tmhedberg/SimpylFold.git
[submodule "pack/plugins/start/python-mode"]
	path = pack/plugins/start/python-mode
	url = https://github.com/python-mode/python-mode.git
